@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  margin: 3rem;
  padding: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.container2 {
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-label {
  margin-right: 1rem;
}

.form-control {
  background-color: #555;
  color: #fff;
  border: 1px solid #555;
}

.form-control:focus {
  background-color: #555;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}